.bar-menu {
  letter-spacing: 0.2rem;
}

.bar-menu__bg {
  height: 54rem;
  position: relative;
}

.bg-title {
  position: absolute;
  bottom: 1.8rem;
  left: 4.5rem;
  font-family: CAT Stack;
  font-size: 6.4rem;
  font-weight: 400;
  line-height: 8.4rem;
  color: white;
}

.menu__title {
  padding: 5rem 0 7.2rem 0;
  text-align: center;
  font-family: CAT Stack;
  font-size: 4.8rem;
  font-weight: 400;
  line-height: 6.3rem;
}

.menu__content {
  display: flex;
  padding: 0 6.3rem;
}

.chose-category {
  width: 20%;
}
.chose-category .category-item {
  font-family: Akrobat;
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 3.2rem;
}
.chose-category .category-item:not(:last-child) {
  margin-bottom: 4rem;
}
.chose-category .category-item_active {
  color: #603916;
}

.current-dishes {
  width: 80%;
  padding-left: 8.7rem;
}
.current-dishes .dish {
  padding-bottom: 2rem;
  display: flex;
  width: 100%;
}
.current-dishes .dish-title {
  font-family: Akrobat;
  font-size: 3.2rem;
  font-weight: 600;
  line-height: 3.2rem;
  letter-spacing: 0.2rem;
}
.current-dishes .dish-description {
  font-family: Akrobat;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 2.4rem;
}
.current-dishes .dish-weight {
  padding: 0 3rem;
  font-family: Akrobat;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 3.2rem;
  letter-spacing: 0.2rem;
}
.current-dishes .dish-price {
  padding: 0 3rem;
  font-family: Akrobat;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 3.2rem;
  letter-spacing: 0.2rem;
}