@charset "UTF-8";
/* normalization of styles */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-style: normal;
  font-weight: normal;
  text-rendering: auto;
  line-height: 1.2;
  margin: 0;
  padding: 0;
  background-color: #FFFFFF;
}

input,
textarea {
  line-height: inherit;
  margin: 0;
  padding: 0;
}

a {
  color: unset;
}

a,
a:hover {
  text-decoration: none;
}

button,
input,
a,
textarea {
  outline: none;
  border: none;
  cursor: pointer;
  font: inherit;
}

button:focus,
input:focus,
a:focus,
textarea:focus {
  outline: none;
}

button:active,
input:active,
a:active,
textarea:active {
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font: inherit;
  margin: 0;
  padding: 0;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

button {
  color: inherit;
  text-rendering: auto;
  background-color: inherit;
}

ul {
  padding: 0;
  margin: 0;
}

ul li {
  margin: 0;
  padding: 0;
  list-style: none;
}

@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Lato/Lato-Black.ttf");
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/Inter/Inter-VariableFont_slnt,wght.ttf");
}
@font-face {
  font-family: "Akrobat";
  font-style: normal;
  font-weight: 400, 500, 600, 700, 800;
  src: url("../fonts/Acrobat/Akrobat-Regular.otf");
}
@font-face {
  font-family: "GamesDaymariusv2";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/GamesDaymariusv2/gamesdaymariusv2-regular.ttf");
}
@font-face {
  font-family: "CAT Stack";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/CAT-Stack/catstack.ttf");
}
.btn {
  font-family: GamesDaymariusv2;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 3.2rem;
  padding-top: 1.5rem;
  padding-right: 3rem;
  padding-bottom: 1.5rem;
  padding-left: 3rem;
}

.btn_green {
  background-color: #5A6934;
  color: white;
  letter-spacing: 0.2rem;
  transition: 0.3s;
}

.btn_green:hover {
  background-color: #6e872d;
  transition: 0.3s;
  border-radius: 0.5rem;
}

.btn_yellow {
  background-color: #E5B42F;
  color: black;
  letter-spacing: 0.2rem;
  transition: 0.3s;
}

.btn_yellow:hover {
  background-color: #f4c647;
  transition: 0.3s;
  border-radius: 0.5rem;
}

.btn_brown {
  background-color: #854f20;
  color: white;
  letter-spacing: 0.2rem;
  transition: 0.3s;
}

.btn_brown:hover {
  background-color: #975822;
  transition: 0.3s;
  border-radius: 0.5rem;
}

.not_have_in_maket {
  font-family: GamesDaymariusv2;
  font-size: 6.4rem;
  font-weight: 400;
  line-height: 6.8rem;
  padding-bottom: 7.3rem;
  height: 30rem;
  background-color: #f4b83e;
  display: flex;
  align-items: center;
  justify-content: center;
}

html {
  /* 10 / ( ширина макету 1440 / 100 ) = 0,69445  */
  font-size: 0.6944vw;
  font-style: normal;
  font-weight: 300;
  text-rendering: auto;
  line-height: 1.2;
  margin: 0;
  padding: 0;
}

body {
  font-size: 3rem;
}

.container {
  margin: 0 auto;
}

.header {
  background-color: white;
  height: 12.8rem;
  width: 100%;
  z-index: 2;
  position: relative;
  letter-spacing: 0.2rem;
  padding: 0 6.6rem;
}
.header .logo-wrapp {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 1.6rem;
}
.header .burger,
.header .header-nav_mobile {
  display: none;
}
.header .logo {
  font-family: Lato;
  font-size: 2.4rem;
  font-weight: 700;
  letter-spacing: 0.2px;
  line-height: 3.2rem;
  text-transform: uppercase;
  color: #004C7E;
}
.header .header-nav {
  display: flex;
  justify-content: space-between;
  padding-bottom: 3.2rem;
}
.header .header-nav .left-part,
.header .header-nav .right-part {
  width: 40%;
  display: flex;
}
.header .header-nav .left-part ul,
.header .header-nav .right-part ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-family: Akrobat;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 3.2rem;
  letter-spacing: 0.2px;
  text-transform: uppercase;
}
.header .header-nav .left-part ul li,
.header .header-nav .right-part ul li {
  transition: 0.5s;
}
.header .header-nav .left-part ul li:hover,
.header .header-nav .right-part ul li:hover {
  transition: 0.5s;
  border-bottom: 0.2rem solid black;
}

.menu-more {
  height: 54rem;
  width: 100%;
  position: relative;
  background-color: white;
  z-index: 1;
  margin-bottom: 0.3rem;
}
.menu-more .menu-more__bg {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: relative;
}
.menu-more .menu-more__title {
  position: absolute;
  top: 10.3rem;
  right: 17.2rem;
  color: white;
  font-family: GamesDaymariusv2;
  font-size: 4.8rem;
  font-weight: 400;
  line-height: 3.2rem;
  letter-spacing: 0.2rem;
}
.menu-more .menu-more__btn {
  position: absolute;
  top: 18.1rem;
  right: 12.2rem;
}

.reserve {
  height: 74rem;
  position: relative;
  background-color: white;
  margin-bottom: 0.3rem;
}
.reserve .reserve__bg {
  height: 74rem;
  width: 100%;
  object-fit: cover;
}
.reserve .reserve__title {
  position: absolute;
  bottom: 14.6rem;
  left: 6rem;
  color: white;
  font-family: GamesDaymariusv2;
  font-size: 6.4rem;
  font-weight: 400;
  line-height: 6.6rem;
  letter-spacing: 0.2rem;
}
.reserve .reserve__btn {
  position: absolute;
  bottom: 6.1rem;
  left: 6rem;
}

.merch {
  display: flex;
  height: 54rem;
  margin-bottom: 0.3rem;
}
.merch .merch__text-cont {
  height: 100%;
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #5a6934;
  padding: 0 3.7rem;
}
.merch .merch__title {
  color: white;
  font-family: GamesDaymariusv2;
  font-size: 6.4rem;
  font-weight: 400;
  line-height: 3.2rem;
  letter-spacing: 0.2rem;
}
.merch .merch__text {
  color: white;
  font-family: Akrobat;
  font-size: 5.6rem;
  font-weight: 500;
  line-height: 6.7rem;
  letter-spacing: 0.2rem;
  padding: 3.7rem 0 3.7rem 0;
}
.merch .merch__img {
  width: 60%;
  height: 100%;
  object-fit: cover;
}

.guests {
  height: 54rem;
  position: relative;
  margin-bottom: 0.3rem;
}
.guests .guests__img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}
.guests .guests__title {
  color: white;
  font-family: GamesDaymariusv2;
  font-size: 6.4rem;
  font-weight: 400;
  line-height: 6.8rem;
  position: absolute;
  top: 15rem;
  right: 21.9rem;
  letter-spacing: 0.2rem;
}
.guests .guests__btn {
  position: absolute;
  top: 30rem;
  right: 15.9rem;
}

.events {
  height: 54rem;
  position: relative;
  margin-bottom: 0.3rem;
  display: flex;
}
.events .events__text-wrap {
  width: 60%;
  height: 100%;
  background-color: #29593f;
  padding: 0 3rem;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  letter-spacing: 0.2rem;
}
.events .events__title {
  color: white;
  font-family: GamesDaymariusv2;
  font-size: 6.4rem;
  font-weight: 400;
  line-height: 6.6rem;
}
.events .events__subtitle {
  color: white;
  font-family: GamesDaymariusv2;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 3.2rem;
  padding: 2.3rem 0;
}
.events .events__text {
  color: white;
  font-family: Akrobat;
  font-size: 3.6rem;
  font-weight: 500;
  line-height: 3.2rem;
}
.events .events__btn {
  margin-top: 2.3rem;
}
.events .events__img {
  width: 40%;
  height: 100%;
  object-fit: cover;
}

.about {
  height: 54rem;
  position: relative;
  margin-bottom: 0.3rem;
}
.about .about__img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}
.about .about__title {
  color: white;
  font-family: GamesDaymariusv2;
  font-size: 6.4rem;
  font-weight: 400;
  line-height: 3.2rem;
  position: absolute;
  top: 7.9rem;
  left: 6rem;
}
.about .events__btn {
  position: absolute;
  top: 17.4rem;
  left: 6rem;
}

.blog {
  height: 54rem;
  position: relative;
  margin-bottom: 0.3rem;
}
.blog .blog__img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}
.blog .blog__title {
  color: white;
  font-family: GamesDaymariusv2;
  font-size: 6.4rem;
  font-weight: 400;
  line-height: 3.2rem;
  position: absolute;
  top: 9.4rem;
  left: 8.8rem;
}
.blog .blog__btn {
  position: absolute;
  top: 16.7rem;
  left: 8.8rem;
}

.contacts {
  min-height: 60.6rem;
  background-color: #f4b83e;
  padding-top: 10.3rem;
  display: flex;
}
.contacts .contacts__info {
  width: 45%;
  height: 100%;
  padding-left: 6.2rem;
  letter-spacing: 0.2rem;
}
.contacts .contacts__title {
  font-family: GamesDaymariusv2;
  font-size: 6.4rem;
  font-weight: 400;
  line-height: 3.2rem;
  padding-bottom: 7.3rem;
}
.contacts .info-item {
  font-family: Akrobat;
  font-size: 3.6rem;
  font-weight: 500;
  line-height: 3.2rem;
}
.contacts .info-item a img {
  width: 3.5rem;
  height: 3.5rem;
  margin-right: 3rem;
}
.contacts .info-item a .grey_text {
  font-family: Akrobat;
  font-size: 3.6rem;
  font-weight: 400;
  color: #121212;
  line-height: 5.4rem;
  padding-top: 1.6rem;
  padding-left: 7.5rem;
}
.contacts .info-item {
  padding-bottom: 6.6rem;
}
.contacts .contacts__form {
  width: 55%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.contacts .contacts__form-title {
  font-family: CAT Stack;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 3.2rem;
  padding-bottom: 6rem;
}
.contacts label .form-item {
  display: flex;
  font-family: Akrobat;
  font-size: 1.4rem;
  font-weight: 700;
  color: #121212;
  line-height: 2rem;
  position: relative;
  cursor: pointer;
  padding-bottom: 3rem;
}
.contacts label .form-item .form-item__icon {
  border-top: 1px solid gray;
  border-left: 1px solid gray;
  border-bottom: 1px solid gray;
  border-radius: 0.3rem 0 0 0.3rem;
  background-color: #F8F8F8;
  width: 12.5rem;
  height: 5rem;
  padding: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contacts label .form-item .form-item__icon div {
  padding-left: 1rem;
  width: 100%;
}
.contacts label .form-item .form-item__icon img {
  height: 2.2rem;
  width: 2.2rem;
  position: absolute;
  left: 1rem;
}
.contacts label .form-item input {
  width: 40rem;
  padding: 2rem;
  border: 1px solid gray;
  border-radius: 0 0.3rem 0.3rem 0;
}
.contacts label .form-item .grey-pencil {
  width: 1.8rem;
  height: 1.8rem;
  position: absolute;
  top: 2rem;
  right: 1.6rem;
}
.contacts .contacts__form-btn {
  margin-top: 2rem;
}

.google-map {
  height: 54.6rem;
  background-color: greenyellow;
}

.footer {
  height: 25.9rem;
  padding-left: 6rem;
}
.footer .footer__info {
  display: flex;
}
.footer .footer__info .footer__nav {
  width: 45%;
  height: 25.9rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.footer .footer__info .footer__nav .footer__nav-item {
  width: 33%;
  font-family: Akrobat;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 2.4rem;
  color: #A06937;
}
.footer .footer__info .footer__shedule {
  width: 30%;
  font-family: Akrobat;
  font-size: 3.6rem;
  font-weight: 500;
  line-height: 3.2rem;
  display: flex;
  align-items: center;
}
.footer .footer__info .footer__shedule a .grey_text {
  font-family: Akrobat;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 5.4rem;
  color: #121212;
  padding-top: 1.6rem;
}
.footer .footer__logoSocials {
  width: 25%;
}
.footer .footer__logoSocials .footer__logoCont {
  height: 50%;
  display: flex;
  align-items: center;
  font-family: Lato;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 3.2rem;
  color: #004C7E;
}
.footer .footer__logoSocials .footer__socialsCont {
  height: 50%;
  display: flex;
  align-items: center;
}
.footer .footer__logoSocials .footer__socialsCont img {
  width: 1.8rem;
  height: 1.8rem;
  margin-right: 3rem;
}
.footer .footer__copyright {
  font-family: Akrobat;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.4rem;
  color: #555555;
  padding-bottom: 2rem;
}

@media (max-width: 375px) {
  .header {
    height: 6rem;
    width: 100%;
  }
  .header .burger {
    display: block;
    position: absolute;
    right: 1rem;
  }
  .header .burger img {
    object-fit: cover;
    width: 2.1rem;
    height: 1.8rem;
  }
  .header .logo {
    font-family: Lato;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 3.2rem;
    text-transform: uppercase;
    color: #004C7E;
  }
  .header .header-nav {
    display: none;
  }
  .header .header-nav_mobile {
    display: block;
    transform: translateX(60rem);
    position: fixed;
    right: 0;
    top: 0;
    height: 90rem;
    width: 40rem;
    padding-top: 7rem;
    background-color: white;
    font-family: Akrobat;
    font-size: 4rem;
    font-weight: 700;
    line-height: 10rem;
    text-transform: uppercase;
  }
  .header .header-nav_mobile ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .header .header-nav_mobile ul a:not(:last-child) {
    border-bottom: 1px solid black;
  }
  .header .header-nav_mobile .burger__close {
    position: absolute;
    right: 1rem;
    width: 7rem;
    height: 7rem;
    top: 1rem;
    right: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .header .header-nav_mobile .burger__close img {
    object-fit: cover;
    width: 7rem;
    height: 7rem;
  }
}