.choose {
    display: flex;
    justify-content: space-between;
}

.kitchen {
    width: 49.5%;
    height: 54rem;
    position: relative;

    .kitchen__btn {
        position: absolute;
        bottom: 3rem;
        left: 3rem;
    }
}

.bar {
    width: 49.5%;
    height: 54rem;
    position: relative;

    .bar__btn {
        position: absolute;
        bottom: 3rem;
        left: 3rem;
    }
}

// !!!mobile
@import '../mobile styles/chose-menu-mobile.scss';